<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>LKL-Bank - неверные данные</title>
</head>

<body>
    <div class="w3-bar w3-blue w3-text-white" style="cursor: default">
        <a class="w3-bar-item w3-hover-indigo w3-button" href="/">Главная</a>
        <a class="w3-bar-item w3-indigo" disabled>Вход</a>
        <a
            class="w3-bar-item w3-grey"
            disabled
            style="cursor: not-allowed"
            title="Регистрация пока не реализована"
        >
            Регистрация
        </a>
    </div>
    <div class="w3-container">
        <h1>Неверное имя пользователя или пароль</h1>
        Вы ввели имя пользователя или пароль неправильно. Также возможно, что вы не ввели ключ двухфакторной
        аутентификации, если он был нужен, или ввели его неправильно
    </div>
</body>

</html>
