<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>LKL-Bank</title>
</head>

<body>
    <div class="w3-bar w3-blue w3-text-white" style="cursor: default">
        <a class="w3-bar-item w3-indigo" disabled>Главная</a>

        {% if current_user is None %}
            <a class="w3-bar-item w3-hover-indigo w3-button" href="/sign-in-form">Вход</a>
            <a
                class="w3-bar-item w3-grey"
                disabled
                style="cursor: not-allowed"
                title="Регистрация пока не реализована"
            >
                Регистрация
            </a>
        {% else %}
            <a class="w3-bar-item w3-indigo" disabled style="cursor: default">
                Вы {{ current_user.username }}
            </a>
            <a class="w3-bar-item w3-hover-indigo w3-button" href="/log-out">Выйти</a>
        {% end %}
    </div>
    <div class="w3-container">
        <h1>ЛКЛ-Банк</h1>
        {% for post in posts %}
        <div class="w3-container w3-light-grey w3-section w3-padding">
            <h3>{{ post.title }}</h3>
            <div>{% raw post.text %}</div>
            <div class="w3-right w3-opacity">
                by {{ post.author }}
            </div>
        </div>
        {% end %}
    </div>
</body>

</html>
