<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>LKL-Bank</title>
</head>

<body>
    <div class="w3-bar w3-blue w3-text-white" style="cursor: default">
        <a class="w3-bar-item w3-indigo" disabled>Главная</a>

        {% if current_user is None %}
            <a class="w3-bar-item w3-hover-indigo w3-button" href="/sign-in-form">Вход</a>
            <a
                class="w3-bar-item w3-grey"
                disabled
                style="cursor: not-allowed"
                title="Регистрация пока не реализована"
            >
                Регистрация
            </a>
        {% else %}
            <a class="w3-bar-item w3-indigo" disabled style="cursor: default">
                Вы {{ current_user.username }}
            </a>
            <a class="w3-bar-item w3-hover-indigo w3-button" href="/log-out">Выйти</a>
        {% end %}
    </div>
    <div class="w3-container">
        <h1>ЛКЛ-Банк</h1>
        {% for post in posts %}
        <div class="w3-container w3-light-grey w3-section w3-padding">
            <h3>{{ post.title }}</h3>
            <p>{% raw post.text %}</p>
            <div class="w3-right w3-opacity">
                by {{ post.author }}
            </div>
        </div>
        {% end %}
        <hr>
        <div class="w3-padding w3-pale-blue">
            <h4>Информация о пользователе</h4>
            <form action="/view-user-info" method="POST">
                <p>Нужно просмотреть свои данные, но лень входить в систему? Нет проблем! Просто введите здесь
                свои имя пользователя и пароль, и мы выведем нужные вам данные</p>
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="w3-col s6 m4 l3">
                        <label for="in-username">Имя пользователя</label>
                    </div>
                    <div class="w3-col s6 m8 l9">
                        <input type="text" class="w3-input w3-border" id="in-username" name="username">
                    </div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-col s6 m4 l3">
                        <label for="in-password">Пароль</label>
                    </div>
                    <div class="w3-col s6 m8 l9">
                        <input type="password" class="w3-input w3-border" id="in-password" name="password">
                    </div>
                </div>
                <div>
                    <input type="submit" class="w3-button w3-blue" value="Просмотреть информацию">
                </div>
            </form>
        </div>
    </div>
</body>

</html>
